@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=Zen+Maru+Gothic&display=swap');

.titulo{
    margin: 20px 0px 10px 0px;
}

.filmes-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.filmes {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 10px;

    .img{
        width: 259px;
        height: 149px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.filmes::-webkit-scrollbar {
    display: none;
}

.filme-item {
    flex-shrink: 0;
}


.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}


.filmesOutros{
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .img{
        width: 259px;
        height: 149px;
        object-fit: cover;
        border-radius: 10px;
    }
}