@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=Zen+Maru+Gothic&display=swap');

.footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}