@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=Zen+Maru+Gothic&display=swap');

.main {
    width: 100%;
    
    .banner{
        width: 100%;
        display: flex;
        

        .texto{
            width: 50%;
            padding: 20px;
            font-size: 20px;
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
            gap: 20px
        }
        .tituloFilme{
            width: 480px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .img{
            width: 50%;
            padding: 20px;
            align-items: center;
            display: flex;

            img{
                width: 100%;
                box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
                overflow: hidden;
                border-radius: 5px;
            }
        }
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        button{
            padding: 10px 5px;
            border-radius: 20px;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .assistir{
            background: red;
            width: 162px;
        }
        .favoritos{
            background: white;
            color: black;
            width: 333px;
            .star-icon {
                color: yellow;
              }
        }
        .favoritos svg {
            color: #FFD700 !important;
        }
        
    }

    .listagemFilmes{
        padding: 20px;
    }
}


@media screen and (max-width:700px) {
    .main{
        .banner{
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .texto{
                width: 90%;
                padding: 20px;
            }

            .img{
                width: 80%;
            }
        }

        .listagemFilmes{
            padding: 5px;
        }
    }
}